*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

.menu {
    z-index: 2;
    position: absolute;
    left: 10px;
    top: 10px;
    /* background-color: white;
    border-radius: 50%;
    cursor: pointer; */
}

.menu-text {
    padding: 3px 5px;

}

.progress-bar-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    
}

#progress-bar {
    width: 20%;
    height: 0%;
    margin-top: .2%;
    display: 'none'
}

.label {
    color: black;
    font-size: 2em;
}

.paw-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;padding: 10px;
}

.paw-pic {
    width: 5%;
    rotate: 90deg;
    opacity: 0
}

.m-experienceHeader__cta {
    box-sizing: border-box;
    width: 3.375rem;
    height: 3.375rem;
    background-color: white;
    border-radius: 50%;
    padding-top: 0.3rem;
    cursor: pointer;
    outline: none;
    border:none;
    transform: scale(0.4);
    opacity: 0;
    pointer-events: none;
    transition: transform .6s cubic-bezier(.6,-.28,.735,.045),opacity .4s cubic-bezier(.215,.61,.355,1);
}

.m-experienceHeader__cta.active{
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
    transition: transform .6s cubic-bezier(.175,.885,.32,1.275),opacity .4s cubic-bezier(.215,.61,.355,1) .1s;
    cursor: pointer;
}

.m-experienceHeader__cta.hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}




